@page "/"
<PageTitle>Menu</PageTitle>
<div class="container">
    <h1 class="text-center">Menu</h1>
    <div class="main-area menu-area">
        <a href="./WordQuestion" class="btn-base btn-menu"><span>Words</span></a>
        <a href="./IdiomQuestion" class="btn-base btn-menu"><span>Idioms</span></a>
        <a href="./Dictionary" class="btn-base btn-menu"><span>Dictionary</span></a>
        <a href="./Login" class="btn-base btn-menu"><span>Login</span></a>
    </div>
</div>
