@page "/Info"
<div class="main-area text-center">
    <div class="info-item">
        <span>Application name</span>
        <div>BlueBerry</div>
    </div>
    <div class="info-item">
        <span>Developed by</span>
        <div>Fuki Sato</div>
    </div>
    <div class="info-item">
        <span>Data created by</span>
        <div>Junya Kaneko</div>
    </div>
    <div class="info-item">
        <span>Version</span>
        <div>2.0.1</div>
    </div>
</div>
@code {

}

