@page "/Info"
<div class="main-area text-center">
    <div class="info-item">
        <span>Application name</span>
        <div>BlueBerry</div>
    </div>
    <div class="info-item">
        <span>Developed by</span>
        <div>Fuki Sato</div>
    </div>
    <div class="info-item">
        <span>Data created by</span>
        <div>Junya Kaneko</div>
    </div>
    <div class="info-item">
        <span>Version</span>
        <div>2.0.1</div>
    </div>
    <div class="info-item">
        <span>Resource</span>
        <div>
            <a href="https://jp.freepik.com/free-photo/closeup-vertical-shot-of-blueberries-with-water-droplets-and-leaves_7678445.htm#query=blueberry&position=0&from_view=keyword">著作者：wirestock</a>／出典：Freepik
        </div>
    </div>
</div>
@code {

}

