@page "/result"
@using Newtonsoft.Json
@using EnglishMasterWebAssembly.Shared.Models
@using Microsoft.AspNetCore.WebUtilities
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject HttpClient http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navigationManager
<div class="h-100 m-auto" style="max-width:500px;">
    @if (_resultList.Any())
    {
        <div class="overflow-auto h-100">
            @foreach (var item in _resultList.OrderBy(a => a.Date))
            {
                <div class="card mb-2 p-2 mx-1">
                    <div class="d-flex">
                        <div class="fw-bold mx-1 m-auto text-start fs-2">@item.Word</div>
                        <button class="ms-1 m-auto btn" @onclick="(() => DictionaryOpenButtonOnClick(item.Word.ToUpper().First().ToString(),item.WordID.ToString()))">
                            <div class="oi oi-external-link"></div>
                        </button>
                        @if (item.IsCorrect)
                        {
                            <div class="text-success mx-3 me-1 m-auto oi oi-circle-check"></div>
                        }
                        else
                        {
                            <div class="text-danger mx-3 me-1 m-auto oi oi-circle-x"></div>
                        }
                    </div>
                    <div class="row p-0 w-100">
                        <div class="col-5">Correct:</div>
                        <div class="col-7">@item.Question</div>
                    </div>
                    <div class="row p-0 w-100">
                        <div class="col-5">Your answer:</div>
                        <div class="col-7">@item.Answer</div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="h-100 align-items-center d-flex justify-content-center">
            <div class="text-center color-primary">
                <div>Loading...</div>
                <div class="spinner-border"></div>
            </div>
        </div>
    }
</div>
@code {
    private List<WordResult> _resultList = new();

    [SupplyParameterFromQuery]
    [Parameter]
    public int Count { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var user = await UserInfo.GetUserInfo(localStorage, http);
        _resultList = await http.GetFromJsonAsync<List<WordResult>>(nameof(MeaningOfWordLearningHistory) + $"?count={Count}&userId={user?.Id}") ?? new();
    }

    private void DictionaryOpenButtonOnClick(string initial, string id)
    {
        var queryParameter = new Dictionary<string, string>
            {
                ["Initial"] = initial,
                ["WordId"] = id,
                ["OriginalSrc"] = navigationManager.Uri
            };
        navigationManager.NavigateTo(QueryHelpers.AddQueryString("Dictionary", queryParameter));
    }
}

