@page "/userPage"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navigationManager
<div>Hello, login user!</div>
<button @onclick="@LogoutButtonOnClick">Logout</button>
@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public string? RedirectURL { get; set; }

    private async Task LogoutButtonOnClick()
    {
        await localStorage.SetItemAsync<long>("USER_ID", 0);
        navigationManager.NavigateTo(RedirectURL, true);
    }
}