<footer>
    <div class="contents">
        <div class="footer-item item-quiz">
            <span class="oi oi-pencil"></span>
        </div>
        <div class="footer-item item-search">
            <span class="oi oi-magnifying-glass"></span>
        </div>
        <div class="footer-item item-home">
            <span class="oi oi-home"></span>
        </div>
        <div class="footer-item item-dictionary">
            <span class="oi oi-book"></span>
        </div>
        <div class="footer-item item-info">
            <span class="oi oi-info"></span>
        </div>
    </div>
</footer>
@code {

}