footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    background-color: #05429E;
    height: 80px;
    color: white;
    padding-bottom:env(safe-area-inset-bottom);
}

.contents {
    max-width: 500px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.footer-item {
    margin: auto 0;
    height:60px;
    width:60px;
    font-size:1.4rem;
}

    .footer-item:hover {
        color: #438BF9;
        cursor: pointer;
    }

    .footer-item > span{
        display:flex;
        justify-content:center;
        align-items:center;
        height:100%;
    }