<nav class="navbar navbar-light border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" href="">English Master</a>
        <div class="d-flex justify-right">
            <NavLink class="nav-item" href="">
                <span class="oi oi-home menu-item"></span>
            </NavLink>
            @*<NavLink class="nav-item" href="Dictionary">
                <span class="oi oi-book menu-item"></span>
            </NavLink>*@
            <NavLink class="nav-item" href="Info">
                <span class="oi oi-info menu-item"></span>
            </NavLink>
            <NavLink class="nav-item" href="Login">
                <span class="oi oi-account-login menu-item"></span>
            </NavLink>
        </div>
    </div>
</nav>
@code {
}
