@inject NavigationManager navigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient http
@using EnglishMasterWebAssembly.Shared.Models
@using Microsoft.AspNetCore.WebUtilities
<nav class="navbar navbar-light box-shadow">
    <div class="container">
        <a class="navbar-brand" href="">English Master</a>
        <div class="d-flex justify-right">
            @if (_user is null)
            {
                <NavLink class="nav-item" @onclick=@NavigateToLoginPage>
                    <span class="oi oi-account-login menu-item"></span>
                </NavLink>
            }
            else
            {
                <NavLink class="nav-item" @onclick=@NavigateToHome>
                    <span class="oi menu-item">@_user?.FirstName?.Substring(0, 1).ToUpper()</span>
                </NavLink>
            }
        </div>
    </div>
</nav>
@code {
    private User? _user = null;

    protected override async Task OnInitializedAsync()
    {
        _user = await UserInfo.GetUserInfo(localStorage, http);
    }

    private void NavigateToLoginPage()
    {
        var queryParameter = new Dictionary<string, string>
            {
                ["RedirectURL"] = navigationManager.Uri
            };
        navigationManager.NavigateTo(QueryHelpers.AddQueryString("Login", queryParameter));
    }

    private void NavigateToHome()
    {
        navigationManager.NavigateTo(navigationManager.BaseUri);
    }
}
